.navbar__content__mobile {
  min-width: 320px;

  .navbar__content__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    width: 100%;

    .left__element__menu,
    .right__element__icons {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  // .navbar__content__menu__bottom {
  //   display: flex;
  //   padding: 0 3px;
  //   align-items: center;
  //   justify-content: space-between;
  //   font-size: var(--fs-base);
  //   font-weight: var(--weight-normal);
  //   margin-top: 10px;
  //   width: 100%;
  //   min-height: 32px;
  //   background-color: var(--base);
    
  // }
}