.btn {
  padding: 0.4rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--colors-buttons);
  border: none;
  border-radius: var(--radii);
  transition: .1s ease-in-out;

  &:hover {
    background-color: var(--colors-hover-btn);
  }

  &:active {
    transform: translate(1px, 2px);
  }
}