
.slider {
  padding: 8px;
  width: 870px;
  height: 400px;

  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after
    {
      color: rgba(97, 99, 104, 0.436);
    }

  .swiper-button-next:after {
    margin-right: -22px;
  }
  .swiper-button-prev:after {
    margin-left: -22px;
  }
  
}
