.footer__container {
  min-width: 100%;
  margin-top: 6.25rem;
  padding-top: 1.62rem;
  background-color: var(--colors-nav-base);

  .footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5rem;
    gap: 5px;
    align-items: center;
    font-size: 0.875rem;
    font-weight: var(--weight-normal);

    .mailing-list {
      height: 100%;
      max-width: 340px;
      grid-column: 1/2;
      display: flex;
      padding: 0.4rem 0;
      flex-direction: column;
      justify-content: space-between;

      .mailing-list__input-btn {
        display: flex;
        gap: 0.4rem;

        .btn-submit {
          font-size: 11px;
        }
      }
    }

    .footer__content__center {
      grid-column: 2/3;
      display: flex;
      min-width: 242px;
      max-width: 339px;
      justify-self: center;
      justify-content: space-between;

      .block-info {
        margin-right: 20px;
      }

      .block-shops {
        margin-left: 25px;
      }
    }




    .block-web {
      grid-column: 3/4;
      display: flex;
      gap: 30px;
      justify-content: center;
    }

    p {
      margin-bottom: 4px;
      font-weight:var(--weight-bold) ;
    }

    li {
      margin: 6px 0;
    }

    .sub-footer {
      grid-row: 2/3;
      grid-column: 2/3;
    }
    .sub-footer__left-content, .sub-footer__right-content {
      font-size: 0.62rem;

    //   .sub-footer__left-content {
    //   justify-self: center;
    //   align-self: self-end;
    //   padding-right: 0.76rem;
    // }
    }

    // .sub-footer__right-content {
    //   grid-row: 2/3;
    //   grid-column: 9/13;
    //   justify-self: center;
    //   align-self: self-end;
    //   padding-right: 1rem;
    // }
  }

}