.footer__container {
  width: 100%;
  max-height: 232px;
  margin-top: 6rem;
  background-color: var(--colors-nav-base);

  .footer__content {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}