* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: black;
  padding: 2rem 0;
  text-align: center;
}

footer {
  background-color: burlywood;
  text-align: center;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}