

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0 auto;
}

:root{
/* colors */
  --badge-bg: rgba(121, 170, 186, 0.806);

    /* typography */
  --family: 'Roboto', sans-serif;
  --fs-base: 1.2rem;
  --weight-minibold: 500;
  --weight-normal: 400;
  --weight-normalbold: 600;
  --weight-bold: 700;

    /* border */
  --radii: .3rem;
  --radii-full: 50%;
}

body[data-theme='dark'] {
  --colors-buttons: #acc4d4;
  --colors-text: #bacbcb;
  --colors-nav-base: #4a626e;
  --colors-bg: rgb(32, 38, 50);
  --colors-ui-base: rgba(67, 77, 86, 0.851);
  --text-secondary: #dad6d6d6;
  --box-shadow: 0px 2px 1px -1px rgba(255,255,255,0.2), 0px 1px 1px 0px rgba(255,255,255,0.14), 0px 1px 3px 0px rgba(255,255,255,0.12);

  --colors-hover: #e28b2e;
  --colors-hover-btn:#b3b3b3;
  --colors-bg-image:#96a1ab;
  --radial-gradient:radial-gradient(ellipse 250px 160px, #4291a98d, #202632 );
  --colors-border: 1px solid #1a1d20;
  --shadow:6px 6px 20px rgba(254, 244, 244, 0.288);
  --shadow-text: rgba(181, 193, 194, 0.5) 2px 1px 2px;
}
body[data-theme='light'] {
  --colors-buttons: #346e98e0;
  --colors-text: #3b3b3f;
  --text-secondary: #C4C4C4;
  --colors-nav-base: #d0cececb;
  --colors-bg: #eeeeeedc;
  --colors-ui-base: #fff;
  --box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);

  --colors-hover:#626cae;
  --colors-hover-btn:rgba(49, 199, 249, 0.709);
  --colors-bg-image:#dcdbdb;
  --radial-gradient:radial-gradient(ellipse 250px 160px, #4291a98d, #eeeeeedc );
  --colors-border: 1px solid #CDCDCD;
  --shadow:6px 6px 20px 0px #22202040;
  --shadow-text: rgba(79, 90, 91, 0.548) 2px 1px 2px;
}

body {
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--weight-normal);
  background-color: var(--colors-bg);

  a {
    text-decoration: none;
    color: var(--colors-text);
    transition: 0.2s ease-in;

    &:hover {
      color: var(--colors-hover);
      transform: translateY(-2px);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

}

