
// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Big+Shoulders+Inline+Display:wght@200;300&family=Dosis:wght@300;400;500;600&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
}

:root{
/* colors */
  --badge-bg: rgba(121, 170, 186, 0.806);


    /* typography */
  --family: 'Roboto', sans-serif;
  --fs-base: 1.2rem;
  --weight-minibold: 400;
  --weight-normal: 300;
  --weight-normalbold: 500;
  --weight-bold: 600;

    /* border */
  --radii: .3rem;
  --radii-full: 50%;
}

body[data-theme='dark'] {
  --colors-text: #bacbcb;
  --colors-nav-base: #4a626e;
  --colors-bg: hsl(219, 22%, 16%);
  --colors-ui-base: hsla(208, 13%, 30%, 0.852);
  --text-secondary: #dad6d6d6;

  --colors-border: 1px solid #1a1d20;
  --shadow:6px 6px 20px rgba(254, 244, 244, 0.288);
  --shadow-text: rgba(181, 193, 194, 0.5) 2px 1px 2px;
}
body[data-theme='light'] {
  --colors-text: #3b3b3f;
  --text-secondary: #C4C4C4;
  --colors-nav-base: #F0F0F4;
  --colors-bg: rgba(131, 245, 215, 0.111);
  --colors-ui-base: hsl(0, 0%, 100%);

  --colors-border: 1px solid #CDCDCD;
  --shadow:6px 6px 20px 0px #22202040;
  --shadow-text: rgba(79, 90, 91, 0.548) 2px 1px 2px;
}

body {
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--weight-normal);
  background-color: var(--colors-bg);

  a {
    text-decoration: none;
    color: var(--colors-text);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

}

